html,
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}


.login-form-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .error {
        margin-bottom: 15px;
    }

    img {
        display: block;
        margin: auto;
    }

    .form {

        padding: 20px 0 0 0;

        .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
            margin-bottom: 15px;
        }

        .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
            margin-top: 0;
        }

        button {
            width: 100%;
            height: 56px;
        }
    }
}

header {
    .css-1t6c9ts {
        display: flex;
        justify-content: end;
    }

    .css-2uchni {
        display: none;
    }
}

.dashboard-wrapper,
.master-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .css-46bh2p-MuiCardContent-root:last-child {
        padding-bottom: 16px;
    }

    .css-bhp9pd-MuiPaper-root-MuiCard-root {
        width: 500px;

        table {
            width: 100%;

            &>tr {
                &:first-child {
                    td {
                        width: 50%;
                    }
                }
            }

            td {
                padding: 7px 7px;
            }

            button {
                width: 100%;
                height: 150px;
            }
        }
    }
}

.list-wrapper {
    // padding: 30px 0 0 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;

    .btn-wrapper {
        display: flex;

        button {
            width: 100px;

            &:first-child {
                margin-right: 15px;
            }
        }
    }
}

.buyer-seller-form-wrapper {
    display: flex;
    justify-content: center;

    .css-1ri6ub7-MuiPaper-root-MuiCard-root {
        overflow: auto;
        max-width: none;
    }

    form {
        width: 700px;

        .buyer-seller-forms-wrapper {
            display: flex;
            width: 100%;

            &>div {
                width: 50%;

                &:first-child {
                    padding-right: 7px;
                }

                &:last-child {
                    padding-left: 7px;
                }
            }
        }

        button {
            height: 56px;
            margin-top: 10px;
        }
    }


}