html,
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.login-form-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-wrapper .error {
    margin-bottom: 15px;
}

.login-form-wrapper img {
    display: block;
    margin: auto;
}

.login-form-wrapper .form {
    padding: 20px 0 0 0;
}

.login-form-wrapper .form .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    margin-bottom: 15px !important;
}

.login-form-wrapper .form .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    margin-top: 0 !important;
}

.login-form-wrapper .form button {
    width: 100% !important;
    height: 56px !important;
}

header .css-1t6c9ts {
    display: flex !important;
    justify-content: end !important;
}

header .css-2uchni {
    display: none;
}

.dashboard-wrapper,
.master-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-wrapper .css-46bh2p-MuiCardContent-root:last-child,
.master-wrapper .css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 16px !important;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root,
.dashboard-wrapper .css-s18byi,
.master-wrapper .css-s18byi {
    width: 500px !important;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table {
    width: 100% !important;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table>tr:first-child td,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table>tr:first-child td {
    width: 50% !important;
}

.dashboard-wrapper table,
.master-wrapper table {
    width: 100% !important;
}

.master-btn,
.contract-btn,
.sellter-btn,
.buyer-btn {
    width: 100%;
    height: 150px;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table td,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table td,
.dashboard-wrapper table>tbody>tr:first-child>td,
.master-wrapper table>tbody>tr:first-child>td {
    padding: 7px 7px !important;
    width: 50% !important;
}

.dashboard-wrapper table>tbody>tr:last-child>td,
.master-wrapper table>tbody>tr:last-child>td {
    width: 100% !important;
    padding: 7px 7px !important;
}

.dashboard-wrapper table>tbody>tr:last-child>td>button,
.master-wrapper table>tbody>tr:last-child>td>button {
    width: 100% !important;
    height: 150px !important;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table button,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table button {
    width: 100% !important;
    height: 150px !important;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

.header-content .btn-wrapper {
    display: flex;
}

.header-content .btn-wrapper button {
    width: 100px;
}

.header-content .btn-wrapper button:first-child {
    margin-right: 15px;
}

.buyer-seller-form-wrapper {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
}

.full-width-template {
    max-width: 1440px;
}

.buyer-seller-form-wrapper .css-1ri6ub7-MuiPaper-root-MuiCard-root {
    overflow: auto;
    max-width: none;
}

.buyer-seller-form-wrapper form,
.template-form-wrapper form {
    width: 100%;
}

.buyer-seller-form-wrapper form .buyer-seller-forms-wrapper,
.buyer-seller-form-wrapper form .template-form-wrapper {
    display: flex;
    width: 100%;
}

.buyer-seller-form-wrapper form .buyer-seller-forms-wrapper>div,
.buyer-seller-form-wrapper form .template-form-wrapper>div {
    width: 50%;
}

.buyer-seller-form-wrapper form .template-form-wrapper>div {
    width: calc(50% - 46px);
}

.buyer-seller-form-wrapper form .template-form-wrapper>button {
    margin-left: 15px;
}

.buyer-seller-form-wrapper form .buyer-seller-forms-wrapper>div:first-child,
.buyer-seller-form-wrapper form .template-form-wrapper>div:first-child {
    padding-right: 7px;
}

.buyer-seller-form-wrapper form .buyer-seller-forms-wrapper>div:last-child,
.buyer-seller-form-wrapper form .template-form-wrapper>div:last-child {
    padding-left: 7px;
}

.buyer-seller-form-wrapper form button,
.template-form-wrapper form button {
    height: 56px;
    margin-top: 10px;
}

.buyer-seller-form-wrapper form .template-form-wrapper {
    align-self: center;
}

.buyer-seller-form-wrapper form .template-form-wrapper {
    padding: 7px 0;
    border: 2px solid #cfcfcf;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 15px;
    background: rgba(207, 207, 207, 0.2);
}

.template-name-txt {
    margin-bottom: 0;
}

.buyer-seller-form-wrapper .template-form-wrapper .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    margin: 0 0;
}

.buyer-seller-form-wrapper .template-form-wrapper button {
    margin-top: 0 !important;
}

.template-add-btn-wrapper>div:first-child {
    width: calc(50% - 60px) !important;
}

.template-add-btn-wrapper>div:last-child {
    width: calc(50% + 60px) !important;
}