html,
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.login-form-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(217, 217, 217, 0.5);
}

.header header {
    background-color: #000 !important;
}

.login-form-wrapper .error {
    margin-bottom: 15px;
}

.login-form-wrapper img {
    display: block;
    margin: auto;
}

.login-form-wrapper .form {
    padding: 20px 0 0 0;
}

.login-form-wrapper .form .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    margin-bottom: 15px !important;
}

.login-form-wrapper .form .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    margin-top: 0 !important;
}

.login-form-wrapper .form button {
    width: 100% !important;
    height: 56px !important;
    background: #000;
}

header .css-1t6c9ts {
    display: flex !important;
    justify-content: end !important;
}

header .css-2uchni {
    display: none;
}

.dashboard-wrapper,
.master-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(217, 217, 217, 0.5);
}

.dashboard-wrapper>div,
.master-wrapper>div {
    margin-top: -10%;
}

.dashboard-wrapper .css-46bh2p-MuiCardContent-root:last-child,
.master-wrapper .css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 16px !important;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root,
.dashboard-wrapper .css-s18byi,
.master-wrapper .css-s18byi {
    width: 500px !important;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table {
    width: 100% !important;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table>tr:first-child td,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table>tr:first-child td {
    width: 50% !important;
}

.dashboard-wrapper table,
.master-wrapper table {
    width: 100% !important;
}

.master-btn,
.contract-btn,
.sellter-btn,
.buyer-btn {
    width: 100%;
    height: 150px;
    background-color: #000;
}

.p-l-15 {
    padding-left: 15px !important;
}

.master-btn:hover,
.contract-btn:hover,
.sellter-btn:hover,
.buyer-btn:hover {
    width: 100%;
    height: 150px;
    background-color: #000;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table td,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table td,
.dashboard-wrapper table>tbody>tr:first-child>td,
.master-wrapper table>tbody>tr:first-child>td {
    padding: 7px 7px !important;
    width: 50% !important;
}

.dashboard-wrapper table>tbody>tr:last-child>td,
.master-wrapper table>tbody>tr:last-child>td {
    width: 100% !important;
    padding: 7px 7px !important;
}

.dashboard-wrapper table>tbody>tr:last-child>td>button,
.master-wrapper table>tbody>tr:last-child>td>button {
    width: 100% !important;
    height: 150px !important;
    background-color: #000;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #000;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root,
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    border: 1px solid #000;
    color: #000;
}

.dashboard-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table button,
.master-wrapper .css-bhp9pd-MuiPaper-root-MuiCard-root table button {
    width: 100% !important;
    height: 150px !important;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.header-content .btn-wrapper {
    display: flex;
}

.header-content .btn-wrapper button {
    width: 100px;
}

.header-content .btn-wrapper button:first-child {
    margin-right: 15px;
}

.buyer-seller-form-wrapper {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
}

.full-width-template {
    max-width: 1440px;
}

.buyer-seller-form-wrapper .css-1ri6ub7-MuiPaper-root-MuiCard-root {
    overflow: auto;
    max-width: none;
}

.buyer-seller-form-wrapper form,
.template-form-wrapper form {
    width: 100%;
}


.buyer-seller-form-wrapper form .buyer-seller-forms-wrapper,
.buyer-seller-form-wrapper form .template-form-wrapper {
    display: flex;
    width: 100%;
}

.buyer-seller-form-wrapper form .buyer-seller-forms-wrapper>div,
.buyer-seller-form-wrapper form .template-form-wrapper>div {
    width: 50%;
}

.buyer-seller-form-wrapper form .template-form-wrapper>div {
    width: calc(50% - 46px);
}

.buyer-seller-form-wrapper form .template-form-wrapper>button {
    margin-left: 15px;
}

.buyer-seller-form-wrapper form .buyer-seller-forms-wrapper>div:first-child,
.buyer-seller-form-wrapper form .template-form-wrapper>div:first-child {
    padding-right: 7px;
}

.buyer-seller-form-wrapper form .buyer-seller-forms-wrapper>div:last-child,
.buyer-seller-form-wrapper form .template-form-wrapper>div:last-child {
    padding-left: 7px;
}

.buyer-seller-form-wrapper form button,
.template-form-wrapper form button {
    height: 56px;
    margin-top: 10px;
}

.buyer-seller-form-wrapper form .template-form-wrapper {
    align-self: center;
}

.buyer-seller-form-wrapper form .template-form-wrapper {
    padding: 7px 0;
    border: 2px solid #cfcfcf;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 15px;
    background: rgba(207, 207, 207, 0.2);
}

.template-name-txt {
    margin-bottom: 0;
}

.buyer-seller-form-wrapper .template-form-wrapper .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    margin: 0 0;
}

.buyer-seller-form-wrapper .template-form-wrapper button {
    margin-top: 0 !important;
}

.template-add-btn-wrapper>div:first-child {
    width: calc(50% - 60px) !important;
}

.template-add-btn-wrapper>div:last-child {
    width: calc(50% + 60px) !important;
}

.action-btn-wrapper {
    display: flex;
    margin-top: 7px;
}

.action-btn-wrapper>button:nth-child(2) {
    margin: 0 7px;
}

.contract-form-wrapper .css-17vbkzs-MuiFormControl-root-MuiTextField-root {
    margin-top: 0;
}

.contract-form-wrapper {
    margin-bottom: 15px;
}

.contract-form-wrapper>div {
    width: 50% !important;
}

.contract-form-wrapper.template>div {
    width: 100% !important;
    padding: 0 !important;
}

.template-text-on-contract h6 {
    margin-bottom: -5px;
}

.contract-form-btn {
    background: transparent !important;
    border: 0 !important;
    padding: 0 0 10px 0px !important;
}

.contract-form-btn>div {
    width: 50% !important;
}

.detail-wrapper {
    border: 1px solid rgba(224, 224, 224, 1);
    box-sizing: border-box;
    word-wrap: break-word;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.detail-wrapper .column {
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.detail-wrapper .column:nth-child(even) {
    border-left: 1px solid rgba(224, 224, 224, 1);
}

.detail-wrapper .column:nth-last-child(1),
.detail-wrapper .column:nth-last-child(2) {
    border-bottom: 0px solid rgba(224, 224, 224, 1);
}

/* .contract-detail-wrapper .column:nth-last-child(1),
.contract-detail-wrapper .column:nth-last-child(2) {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
} */

.detail-wrapper b,
.detail-wrapper span {
    font-size: 14px;
}

.detail-ul {
    padding: 0 0 0 15px;
    margin: 0 0 0 0;
}

.detail-ul>li {
    font-size: 14px;
    margin-bottom: 5px;
}

.detail-ul>li:last-child {
    margin-bottom: 0;
}

.contract-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contract-btn-wrapper>div {
    width: 50%;
}

.contract-btn-wrapper>div:first-child {
    padding-right: 7px;
}

.contract-btn-wrapper>div:last-child {
    padding-left: 7px;
}

.template-form-wrapper .remove-btn {
    position: relative;
    top: 15px;
}

.preview-dialogue>div>div {
    max-width: 800px;
    width: 800px;
}

.preview-dialogue .preview-wrapper {
    border: 1px solid rgba(217, 217, 217, 0.3);
}

.preview-dialogue .preview-wrapper .header {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
}

.preview-dialogue .preview-wrapper .address {
    text-align: center;
    padding: 15px;
}

.preview-dialogue .preview-wrapper .address p {
    margin-bottom: 3px;
}

.preview-dialogue .preview-wrapper .contract-box {
    display: flex;
    justify-content: space-between;
    background: rgba(217, 217, 217, 0.3);
    padding: 7px 15px;
}

.preview-dialogue .preview-wrapper .under-paragraph {
    text-align: center;
    padding: 15px 15px;
}

.preview-dialogue .preview-wrapper .under-paragraph p,
.preview-dialogue .preview-wrapper .footer-subject p {
    font-size: 13px;
}

.preview-dialogue .preview-wrapper .footer-subject {
    background: rgba(217, 217, 217, 0.3);
    padding: 7px 15px;
    text-align: center;
}

.preview-dialogue .preview-wrapper .footer-seed-feed {
    padding: 7px 15px;
    text-align: center;
}

.preview-dialogue .preview-wrapper .footer-buyer-seller {
    display: flex;
    padding: 7px 15px;
    justify-content: space-between;
}